<ion-header>
  <ion-toolbar>
      <ion-title class="titulo">
         REDES
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-card class="border_frase">
      <ion-item class="center">
         <ion-label>{{mi_frase}}</ion-label>
      </ion-item>
   
      <ion-card-content>
         <ion-item class="center">
            <ion-input placeholder="Ingrese la frase" [(ngModel)]="frase"></ion-input>
         </ion-item>
      </ion-card-content>
   </ion-card>
   
   <ion-grid>
      <ion-row>
         <ion-col class="center">
            <ion-button color="dark" expand="full" shape="round" (click)='simulacion("A")'>Destino A</ion-button>
         </ion-col>
         <ion-col class="center">
            <ion-button color="dark" expand="full"  shape="round" (click)='simulacion("B")'>Destino B</ion-button>
         </ion-col>
      </ion-row>
   </ion-grid> 

   <div class="consola" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <ul>
         <li *ngFor="let item of auxLog; let i = index">
            {{item}}
         </li>
      </ul>
   </div>


   <ion-grid>
      <ion-row>
         <ion-col>
            <div class="center"> 
               DESTINO A 
            </div>
         </ion-col>
         <ion-col>
            <div class="center destino"> 
               {{mi_fraseA}}
            </div>
         </ion-col>
      </ion-row>
   </ion-grid> 
   
   <ion-grid>
      <ion-row>
         <ion-col>
            <div class="center"> 
               DESTINO B 
            </div>
         </ion-col>
         <ion-col>
            <div class="center destino"> 
               {{mi_fraseB}}
            </div>
         </ion-col>
      </ion-row>
   </ion-grid> 
  
</ion-content>
