<ion-header>
  <ion-toolbar>
      <ion-title>
         {{mi_frase}}
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <div class="entrada">
      <ion-input placeholder="Ingrese la frase" [(ngModel)]="frase"></ion-input>
   </div>
   
   <ion-grid>
      <ion-row>
         <ion-col class="center">
            <ion-button  expand="full" class="btn_A" (click)='simulacion("A")'>Destino A</ion-button>
         </ion-col>
         <ion-col class="center">
            <ion-button   expand="full" class="btn_A" (click)='simulacion("B")'>Destino B</ion-button>
         </ion-col>
      </ion-row>
   </ion-grid> 

   <div class="consola" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <ul>
         <li *ngFor="let item of auxLog; let i = index">
            <br *ngIf="item==' '">
            <span [ngClass]="{'red__': item.substr(-2)=='NK' ||  item.substr(-2)=='FT'}">
               <span class="letra__" *ngIf="item.substr(0,1)!='_'">{{item.substr(0,1)}}</span> 
               {{item.substring(1)}}
            </span>
            
         </li>
      </ul>
   </div>


   <ion-grid>
      <ion-row>
         <ion-col>
            <div class="center"> 
               DESTINO A 
            </div>
         </ion-col>
         <ion-col>
            <div class="center destino"> 
               {{mi_fraseA}}
            </div>
         </ion-col>
      </ion-row>
   </ion-grid> 
   
   <ion-grid>
      <ion-row>
         <ion-col>
            <div class="center"> 
               DESTINO B 
            </div>
         </ion-col>
         <ion-col>
            <div class="center destino"> 
               {{mi_fraseB}}
            </div>
         </ion-col>
      </ion-row>
   </ion-grid> 
  
</ion-content>
